config/config.php
uploads/*
!uploads/.htaccess
!uploads/ttd/
uploads/ttd/*
!uploads/ttd/.gitkeep
!uploads/berkas_cuti/
uploads/berkas_cuti/*
!uploads/berkas_cuti/.gitkeep
assets/img/*
!assets/img/.gitkeep
*.log
error_log
.DS_Store
/vendor/
~$*
